@charset "utf-8";
/* CSS Document */

.main {
}
#layout1 {
	background-color: #FFFFFF;
	margin-top: 0px;
	position: absolute;
	width: 500px;
}
#layout1 #action_box {
	border-bottom: 1px solid #8E8E8E;
	color: #000000;
}
#layout2 {
	padding-top: 50px;
	background-color: #FFFFFF;
}
#travelnote {
}
.travelnote_page {
	background-size: cover;
	position: relative;
}
.travelnote_page.page_theme0 {
	background-image: url(../images/pwthemes/0/background.jpg);
}
.travelnote_page.page_theme1 {
	background-image: url(../images/pwthemes/1/background.jpg);
}
.travelnote_page.page_theme2 {
	background-image: url(../images/pwthemes/2/background.jpg);
}
.travelnote_page.page_theme3 {
	background-image: url(../images/pwthemes/3/background.jpg);
}
.travelnote_page.page_theme4 {
	background-image: url(../images/pwthemes/4/background.jpg);
}
.travelnote_page .image {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.travelnote_page .image picture {
	margin: 2%;
}
.travelnote_page .image .frame {
	position: absolute;
	float: none;
	width: 96%;
	height: 100%;
	left: 2%;
}
.container .travelnote_page .trajectory {
	position: absolute;
	margin-top: 5%;
	opacity: 1;
	z-index: 3;
	float: left;
}
.trajectory .barrage1 {
	position: absolute;
	background-color: #FFFFFF;
	padding-left: 5px;
	border-radius: 5px;
	border: 2px solid #14CF18;
	padding-right: 5px;
	font-size: small;
}
.barrage1 .nickname {
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #0A760F;
}
.trajectory .barrage2 {
	position: absolute;
	background-color: #09EF31;
	padding-left: 5px;
	border-radius: 5px;
	padding-right: 5px;
	font-size: small;
	border-left: 5px double #2AD7EC;
	border-bottom: 1px solid #FFFFFF;
}
.barrage2 .nickname {
	color: #3B3B3B;
	background-image: url(../images/performer_barrage.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 4px;
}
.barrage2 .content {
	color: #197702;
	text-shadow: 1px 1px 3px #FFFFFF;
	font-weight: bold;
}
.travelnote_page .page_content {
	padding-bottom: 5%;
	padding-top: 1px;
}
.travelnote_page .page_content.page_theme0 {
	color: #000000
}
.travelnote_page .page_content.page_theme1 {
	color: #dbfc96
}
.travelnote_page .page_content.page_theme2 {
	color: #fbfc96;
}
.travelnote_page .page_content.page_theme3 {
	color: #B5FBFF
}
.travelnote_page .page_content.page_theme4 {
	color: #FFFFFF
}
