@charset "utf-8";
/* CSS Document */

.main {
}
#layout1 {
	background-color: #C92023;
	margin-top: 0px;
	position: absolute;
	width: 500px;
}
#layout1 #action_box {
	border-bottom: 1px solid #8E8E8E;
	color: #000000;
}
#layout2 {
	padding-top: 50px;
	background-color: #31F87F;
}
#travelnote {
}
.travelnote_page {
	background-image: url(../images/pwthemes/2/background.jpg);
	background-size: cover;
	position: relative;

}
.travelnote_page .image {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.travelnote_page .image picture {
	margin: 2%;
}
.travelnote_page .image .frame {
	position: absolute;
	float: none;
	width: 96%;
	height: 100%;
	left: 2%;
}
.container .travelnote_page .trajectory {
	position: absolute;
	margin-top: 50px;
	background-color: #E3E288;
}
.trajectory .barrage {
	position: absolute;

}
